@import 'global.css';
#zer-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 43px;
    .title {
        color: white;
    }
}
#zer-nav {
    position: fixed;
    top: 43px;
    left: 0;
    right: 0;
    width: 100%;
    height: 30px;
    text-align: center;
    .row {
        padding: 0;
        height: 100%;
    }
    .nav-item {
        height: 100%;
        color: white;
    }
}
#zer-mainBody {
    position: absolute;
    top: 73px;
    bottom: 47px;
    left: 0;
    right: 0;
    width: 100%;
    .box {
        width: 100%;
        height: 800px;
        padding-top: 30px;
        h1,
        p {
            text-align: center;
            color: white;
        }
    }
    .loadMore {
        z-index: 10000;
        position: absolute;
        bottom: 0;
    }
    .news-container {
        overflow: hidden;
    }
    .ion-content {
        padding-bottom: 50px;
    }
}
#zer-foter {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 40px;
    background: forestgreen;
    .footer-item {
        color: white;
    }
}
#detail-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    .header {}
    p {
        text-align: center;
    }
}
.button {
    color: white;
}
.detail-author {
    position: absolute;
    top: 43px;
    width: 100%;
    overflow: hidden;
    height: 43px;
    margin: 0;
    .detail-author-container {
        position: relative;
        width: 100%;
        height: 30px;
        img {
            position: absolute;
            width: 35px;
            top: 5px;
            left: 10px;
            border-radius: 50%;
        }
        .author-name {
            position: absolute;
            left: 60px;
            top: 13px;
        }
    }
}
.detail-container {
    position: absolute;
    top: 86px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow: auto;
    background: white;
    img {
        width: 100%;
    }
    .detail-text {
        line-height: 20px;
        margin-top: 20px;
        padding: 0 10px;
    }
    .sound-container {
        position: relative;
        .play-btn {
            width: 52px;
            height: 47px;
            position: absolute;
            top: 40%;
            left: 42%; //          transform: translate(-50%,-50%);
        }
    }
}
#zer-loading {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100;
    background: rgba(0,0,0,0.4);
    color: white;
    .loading-icon {
        position: absolute;
        left: 45%;
        top: 40%;
    }
}
.user-container {
    width: 100%;
    height: 200px;
//  color: white;
    .user-img {
        width: 100px;
        height: 100px;
        border-radius: 20px;
        margin: 0 auto;
        overflow: hidden;
        background: url("../../img/icon.jpg");
        background-size: 100px;
        margin-top: 30px;
        img {
            width: 100%;
        }
    }
    .user-name {
        width: 100%;
        text-align: center;
        padding: 20px 0;
        padding-bottom:0px;
        font-size: 20px;
    }
    .user-text{
        text-align: center;
        font-size: 12px;
        padding: 8px 0px;
        
    }
}
.zer-list-item {
    color: white !important;
}

button:hover{
    color: white !important;
}
