<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>Listen Index Page</title>
		<link rel="stylesheet" type="text/css" href="pluginLib/font-awesome/css/font-awesome.min.css"/>
		<link rel="stylesheet" type="text/css" href="pluginLib/ionic/css/ionic.min.css" />
		<link rel="stylesheet" type="text/css" href="css/weatherSearch.css"/>
		<link rel="stylesheet" type="text/css" href="css/index.css" />

		<script src="pluginLib/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="pluginLib/ionic/js/ionic.bundle.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/global.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body ng-app="listenApp" ng-controller="listenController">
				<div id="zer-header">
					<div class="bar bar-header light-bg">
						<h1 class="title">Zershond</h1>
					</div>
				</div>

				<!--navigator-->
				<div id="zer-nav">
					<div class="row stable-bg">
						<div ng-class="navSelected[0] == 1 ?  'col nav-item zer-dark-border' : 'col nav-item'" ng-click="navClick(0)">有趣</div>
						<div ng-class="navSelected[1] == 1 ?  'col nav-item zer-dark-border' : 'col nav-item'" ng-click="navClick(1)">天气</div>
						<div ng-class="navSelected[2] == 1 ?  'col nav-item zer-dark-border' : 'col nav-item'" ng-click="navClick(2)">用户</div>
					</div>
				</div>

				<!--main body-->
				<div>
					<ion-slide-box id="zer-mainBody" delegate-handle="mainSlide" class="light-bg" show-pager='false' on-slide-changed='sliceChange()'>
						
						<!--趣图-->
						<ion-slide>
							<ion-content>
								<div class="news-container">
									<div class="list">
										<div class="box yellow" ng-show="page1loading">
											<!--<h1>有趣</h1>
											<p>数据来自百思不得姐</p>-->
										</div>
										<a class="item item-thumbnail-left" ng-click="clickItem(item)" ng-repeat="item in items">
											<!---->
											<img ng-src="{{domain+item.icon}}">
											<h2 ng-bind="item.author">this is left</h2>
											<p ng-bind="item.preText">Nine Inch Nails</p>
										</a>
									</div>
								</div>
								<ion-infinite-scroll on-infinite="loadMore()" ng-if="moreDataCanBeLoaded()" distance="10%" icon="ion-loading-d" class="loadMore"></ion-infinite-scroll>
							</ion-content>
							<div class="box yellow" ng-hide="loading">
								<h1>趣图</h1>
								<p>数据来自成志村</p>
							</div>
						</ion-slide>
					
						<!--天气-->
						<ion-slide>
							<ion-content>
								<div class="news-container">
									<div id="container" city="">
										<header>
											<p>天气预报</p>
											<input type="text" id="cityName" ng-model="city" value="广州" />
											<input type="button" id="search" value="查看" ng-click="getWeather()" />
											<div class="msg">请输入你要查看的城市</div>
										</header>
									</div>
								</div>	
							</ion-content>
						</ion-slide>
						
						<!--用户信息-->
						<ion-slide>
							<ion-content>
								<div class="news-container" >
									<div class="list">
										<div class="user-container">
											<div class="user-img">
												<img ng-src="{{userData.icon}}"/> 
											</div>
											<div class="user-name" ng-bind="userData.name"></div>
											<div class="user-text" ng-bind="userData.sign"></div>
											<div class="list" ng-if="showMoreInfo">
												<a class="item item-icon-left item-name" href="#">
													<i class="icon ion-ios-telephone"></i> Phone
													<div class="item-val" ng-bind="userData.phoneNum"></div>
												</a>
												<a class="item item-icon-left item-name" href="#">
													<i class="icon ion-email"></i> Mail Box
													<div class="item-val" ng-bind="userData.mailBox"></div>
												</a>
											</div>
										</div>
											
										<div class="login-container" ng-hide="showMoreInfo">
											<div class="login-button" type="button" id="" ng-click="login(false)">登录</div>
											<div class="register" ng-click="login(true)">注册</div>
										</div>
										<div class="login-container" ng-if="showMoreInfo">
											<div class="login-button red-color" type="button" id="" ng-click="logup()">退出登录</div>
										</div>
									</div>
								</div>
							</ion-content>
						</ion-slide>
					
					</ion-slide-box>
				</div>

		<div id="detail-container" class="calm-bg" ng-show="detail.showDetail">
			<div id="zer-header">
				<div class="bar bar-header positive-bg header">
					<button class="button icon ion-close-circled calm-bg" ng-click="closeDetail()"></button>
					<h2 class="title" ng-bind="word[index]">趣图</h2>
				</div>
			</div>
			<div class="detail-author">
				<div class="detail-author-container">
					<img ng-src="{{domain+detail.data.icon}}" alt="" />
					<div class="author-name" ng-bind="detail.data.author"></div>
				</div>
			</div>
			<div class="detail-container">
				<p class="detail-text" ng-bind="detail.data.text">Listen</p>
				<img ng-src="{{domain+detail.data.imgUrl}}" ng-show="detail.data.dataType == 2" alt="" />
				
				<div class="sound-container" ng-show="navSelected[2]">
					<img ng-src="{{detail.data.image3}}" alt="" />
					<audio id="sound" ng-src="{{detail.data.voice_uri | trusted}}" style="width: 100%;" class="calm-bg" ng-show="navSelected[2]"></audio>
					<div class="play-btn">
						<button ng-class="isPlay ? 'button icon ion-pause calm-bg playBtn' : 'button icon ion-play calm-bg playBtn'" ng-click="soundPlay()"></button>
					</div>
				</div>
				<div class="sound-container" ng-show="navSelected[3]">
					<video id="video" width="100%" ng-src="{{detail.data.video_uri | trusted}}" ng-show="navSelected[3]" ng-click="videoPlay()" ></video>
					<div class="play-btn">
						<button ng-class="isVideoPlay ? 'button icon ion-pause calm-bg playBtn' : 'button icon ion-play calm-bg playBtn'" ng-hide="isVideoPlay"></button>
					</div>
				</div>
			</div>
		</div>
		
		<div id="zer-loading" ng-show="httpLoading">
			<div class="loading-icon">
				<i class="fa fa-spinner fa-pulse fa-3x"></i>
			</div>
		</div>
	</body>

</html>